@charset "UTF-8";

.inicio {
    display: flex;
    align-items: center;
    background-color: black;

}
.logo {
    width: 96px;
    height: auto;
}
.linkinicio {
    text-decoration: none;
    color: white;
}

.corpo {
    /* padding-left: 10px; */
    
}

.tecnologias {
    height: 90vh;
    align-items: center;

}

.projetos {
    background-color: black;
    height: 90vh;
}

.blocosprojetos {
    display: flex;
    width: 90vw;
    max-width: 1224px;
    height: 70vh;
    margin: 0 auto;

}

.blocosprojetos .projeto:not(:last-child) {
    margin-right: 20px;
    
}

.imgprojeto {
    width: 100%;
    height: auto;
}

.projeto {
    /* width: 300px; */
    text-align: justify;
    background-color: #222;
    padding: 15px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    height: 55vh;
    width: 20vw;
    max-width: 272px;
    max-height: 884px;
    bottom: 5px;
    border: 1px solid;
    box-shadow: 0 0 20px #90EE90, inset 0 0 20px #90EE90;
    border-image: linear-gradient(45deg #90EE90, #002500) 1;
}

.projeto p {
    width: 100%;
}

.projeto button {
    width: 100%;
    height: 8%;
    border-radius: 35px;
    font-size: 1.1em;
    background-color: lime;
    cursor: pointer;
    transition: 0.3s;
    

}

.projeto button:hover {
    border-radius: 10px;
    background-color:   rgb(0, 199, 0);
}




.blocotec {
    display: flex;
    justify-content: center;
}

.blocotec hr {
    width: 70%;
    border-color: gray;
}

.tec-content {
    width: 30vw;
    height: 60vh;
    background-color: #002500;
    border: 1px solid;
    box-shadow: 0 0 20px #90EE90, inset 0 0 20px #90EE90;
    border-image: linear-gradient(45deg #90EE90, #002500) 1;
    border-radius: 20px;
    text-align: center;
}


.tec-content:not(:last-child) {
    margin-right: 20px;
}







.slider {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide .blocosprojetos {
    width: 100%;
}

.manual-navigation {
    position: absolute;
    width: 99%;
    margin-top: 530px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
    transition: 2s;
}
#radio2:checked ~ .first {
    margin-left: -25%;
    transition: 2s;
}
#radio3:checked ~ .first {
    margin-left: -50%;
    transition: 2s;
}
#radio4:checked ~ .first {
    margin-left: -75%;
    transition: 2s;
}



#radio21:checked ~ .first {
    margin-left: 0;
    transition: 2s;
}
#radio22:checked ~ .first {
    margin-left: -25%;
    transition: 2s;
}
#radio23:checked ~ .first {
    margin-left: -50%;
    transition: 2s;
}
#radio24:checked ~ .first {
    margin-left: -75%;
    transition: 2s;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 99%;
    margin-top: 530px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}



#radio21:checked ~ .navigation-auto .auto-btn21 {
    background-color: white;
}
#radio22:checked ~ .navigation-auto .auto-btn22 {
    background-color: white;
}
#radio23:checked ~ .navigation-auto .auto-btn23 {
    background-color: white;
}
#radio24:checked ~ .navigation-auto .auto-btn24 {
    background-color: white;
}